{% extends "layout.html" %}

{% block title %}
    Compare Result
{% endblock %}

{% block main %}


<a class="btn btn-primary center" style="display: block; margin: auto; width: 20%; font-size: 1vw;" href="/compareplayers" role="button">Search Again</a>
</div>
<div class="containercompareresults">
    <div></div>
    <div style="height: 60%; background: linear-gradient(45deg, #49a09d, #5f2c82); color: black">
        <div style="margin-top: 10px;">
        <h1 class="center kanit fadein2" id="h1" style="font-size: 2.3vw; width: 70%; margin: auto; color: white; background-color: #464f76;">{{ name1 }} - £{{pricep1}}</h1>
        <table class="table fadein3" style="margin: auto; height: 100px; width: 75%; margin-top: 10px;">
            <thead class="kanit" style="color: black">
                <tr>
                    <th scope="col">Minutes Played</th>
                    {% for player in statp1 %}
                    <td id="minutes1">{{ player.minutes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Goals Scored</th>
                    {% for player in statp1 %}
                    <td id="goalsscored1">{{ player.goals_scored }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th scope="col">Assists</th>
                    {% for player in statp1 %}
                    <td id="assists1">{{ player.assists }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Yellow Cards</th>
                    {% for player in statp1 %}
                    <td id="yellowcards1">{{ player.yellow_cards }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Red Cards</th>
                    {% for player in statp1 %}
                    <td id="redcards1">{{ player.red_cards }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Average Influence</th>
                    {% for player in statp1 %}
                    <td id="influence1">{{ player.average_influence }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Total Points</th>
                    {% for player in statp1 %}
                    <td id="totalpoints1">{{ player.total_points }}</td>
                    {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
</div>

    <div style="height: 60%; background: linear-gradient(45deg, #49a09d, #5f2c82); color: black">
        <div style="margin-top: 10px">
        <h1 class="center kanit fadein2" id="h2" style="font-size: 2.3vw; width: 70%; margin: auto; color: white; background-color: #464f76;">{{ name2 }} - £{{pricep2}}</h1>
        <table class="table fadein3" style="margin: auto; height: auto; width: 75%; margin-top: 10px;">
            <thead class="kanit" style="color: black">
                <tr>
                    <th scope="col">Minutes Played</th>
                    {% for player in statp2 %}
                    <td id="minutes2">{{ player.minutes }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Goals Scored</th>
                    {% for player in statp2 %}
                    <td id="goalsscored2">{{ player.goals_scored }}</td>
                    {% endfor %}
                </tr>

                <tr>
                    <th scope="col">Assists</th>
                    {% for player in statp2 %}
                    <td id="assists2">{{ player.assists }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Yellow Cards</th>
                    {% for player in statp2 %}
                    <td id="yellowcards2">{{ player.yellow_cards }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Red Cards</th>
                    {% for player in statp2 %}
                    <td id="redcards2">{{ player.red_cards }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Average Influence</th>
                    {% for player in statp2 %}
                    <td id="influence2">{{ player.average_influence }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="col">Total Points</th>
                    {% for player in statp2 %}
                    <td id="totalpoints2">{{ player.total_points }}</td>
                    {% endfor %}
                </tr>
            </thead>

        </table>
    </div>
</div>
<script>
    if (document.getElementById("h1").innerText.includes('Gabriel dos Santos Magalhães')){
        document.getElementById("h1").innerText = "Gabriel - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Gabriel dos Santos Magalhães')){
        document.getElementById("h2").innerText = "Gabriel - £{{pricep2}}";
        }
    if (document.getElementById("h1").innerText.includes('Bruno Borges Fernandes')){
        document.getElementById("h1").innerText = "Bruno Fernandes - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Bruno Borges Fernandes')){
        document.getElementById("h2").innerText = "Bruno Fernandes - £{{pricep2}}";
    }
    if (document.getElementById("h1").innerText.includes('Gabriel Fernando de Jesus')){
        document.getElementById("h1").innerText = "Gabriel Jesus - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Gabriel Fernando de Jesus')){
        document.getElementById("h2").innerText = "Gabriel Jesus - £{{pricep2}}";
    }
    if (document.getElementById("h1").innerText.includes('Gabriel Martinelli Silva')){
        document.getElementById("h1").innerText = "Gabriel Martinelli - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Gabriel Martinelli Silva')){
        document.getElementById("h2").innerText = "Gabriel Martinelli - £{{pricep2}}";
    }
    if (document.getElementById("h1").innerText.includes('Bernardo Veiga de Carvalho e Silva')){
        document.getElementById("h1").innerText = "Bernardo Silva - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Bernardo Veiga de Carvalho e Silva')){
        document.getElementById("h2").innerText = "Bernardo Silva - £{{pricep2}}";
    }
    if (document.getElementById("h1").innerText.includes('Antony Matheus dos Santos')){
        document.getElementById("h1").innerText = "Antony - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Antony Matheus dos Santos')){
        document.getElementById("h2").innerText = "Antony - £{{pricep2}}";
    }
    if (document.getElementById("h1").innerText.includes('Bruno Borges Fernandes')){
        document.getElementById("h1").innerText = "Bruno Fernandes - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Bruno Borges Fernandes')){
        document.getElementById("h2").innerText = "Bruno Fernandes - £{{pricep2}}";
    }
    if (document.getElementById("h1").innerText.includes('Bruno Guimarães Rodriguez Moura')){
        document.getElementById("h1").innerText = "Bruno Guimarães - £{{pricep1}}";
    }
    if (document.getElementById("h2").innerText.includes('Bruno Guimarães Rodriguez Moura')){
        document.getElementById("h2").innerText = "Bruno Guimarães - £{{pricep2}}";
    }

</script>

<script>
    let player1e = [document.getElementById("minutes1"), document.getElementById("goalsscored1"), document.getElementById("assists1"), document.getElementById("influence1"), document.getElementById("totalpoints1")];
    let player2e = [document.getElementById("minutes2"), document.getElementById("goalsscored2"), document.getElementById("assists2"), document.getElementById("influence2"), document.getElementById("totalpoints2")];
    let player1 = [parseInt(player1e[0].innerHTML), parseInt(player1e[1].innerHTML), parseInt(player1e[2].innerHTML), parseInt(player1e[3].innerHTML), parseInt(player1e[4].innerHTML)];
    let player2 = [parseInt(player2e[0].innerHTML), parseInt(player2e[1].innerHTML), parseInt(player2e[2].innerHTML),  parseInt(player2e[3].innerHTML), parseInt(player2e[4].innerHTML)];

    for(let i = 0; i < player1.length; i++){
        if (player1[i] > player2[i]){
        player1e[i].style.color = 'white';
        player2e[i].style.color = 'white';
        player1e[i].style.backgroundColor = 'green';
        player2e[i].style.backgroundColor = 'red';

    }
    else if (player1[i] == player2[i]){
        player1e[i].style.color = 'white';
        player2e[i].style.color = 'white';
        player1e[i].style.backgroundColor = 'orange';
        player2e[i].style.backgroundColor = 'orange';

    }
    else{
        player1e[i].style.color = 'white';
        player2e[i].style.color = 'white';
        player1e[i].style.backgroundColor = 'red';
        player2e[i].style.backgroundColor = 'green';
    }
    }

</script>

<script>
    var player1cardse = [document.getElementById("yellowcards1"), document.getElementById("redcards1")];
    var player2cardse = [document.getElementById("yellowcards2"), document.getElementById("redcards2") ];
    var player1cards = [parseInt(player1cardse[0].innerHTML), parseInt(player1cardse[1].innerHTML)]; 
    var player2cards = [parseInt(player2cardse[0].innerHTML), parseInt(player2cardse[1].innerHTML)];
   for (let i = 0; i < player1cards.length; i++){
    if (player1cards[i] < player2cards[i]){
        player1cardse[i].style.color = 'white';
        player2cardse[i].style.color = 'white';
        player1cardse[i].style.backgroundColor = 'green';
        player2cardse[i].style.backgroundColor = 'red';
    }
    else if (player1cards[i] == player2cards[i]){
        player1cardse[i].style.color = 'white';
        player2cardse[i].style.color = 'white';
        player1cardse[i].style.backgroundColor = 'orange';
        player2cardse[i].style.backgroundColor = 'orange';

    }
    else{
        player1cardse[i].style.color = 'white';
        player2cardse[i].style.color = 'white';
        player1cardse[i].style.backgroundColor = 'red';
        player2cardse[i].style.backgroundColor = 'green';

    }
}
</script>
{% endblock %}