{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
{% block head %}
<script>
 
  function sortTableL0(tableClass, n) {
    
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementsByClassName(tableClass)[0];
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>

<script>
    function sortTableN0(tableClass, n) {
      var table, rows, switching, i, x, y, dir, shouldSwitch, switchcount = 0;
      table = document.getElementsByClassName(tableClass)[0];
      switching = true;
      /*Make a loop that will continue until
      no switching has been done:*/
      dir = "asc";
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          //check if the two rows should switch place:
          if (dir == "asc") {
            if (Number(x.innerHTML) < Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }  
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }  
  </script>

    {% endblock %}


{% block main %}

<h3 class="center kanit" style="font-size: 2.3vw; color: white; margin: auto; width: 50%;">Latest Gameweek: {{ GW1 }} </h3>
<h5 class="center kanit fadein3" style="font-size: 1.7vw; padding-bottom: 20px; color: white; margin: auto; width: 50%;">Current form is based on last 3 matches</h5>

</div>
<div class="fadein2" style="padding: 10px; border-radius: 20px 20px 0px 0px; width: 85%; margin: auto; background: linear-gradient(45deg, #49a09d, #5f2c82);">
    <h1 class="kanit fadein3" style="font-size: 3vw; color: white">Current Top Players</h1>
    <table class="table fadein3 tb1" id ="currenttopplayers">
        <thead class="kanit">
            <tr style="color: black">
                <th scope="col">Position</th>
                <th id="hello" scope="col" onclick="sortTableL0('tb1', 1)">Name</th>
                <th scope="col" onclick="sortTableL0('tb1', 2)">Team</th>
                <th scope="col" onclick="sortTableN0('tb1', 3)">Average Points</th>
                <th scope="col" onclick="sortTableN0('tb1', 4)">Average xG Per 90</th>
                <th scope="col" onclick="sortTableN0('tb1', 5)">Average xA Per 90</th>
                <th scope="col" onclick="sortTableN0('tb1', 6)">Price</th>
                <th scope="col" onclick="sortTableN0('tb1', 7)">Points Per Million</th>
            </tr>
        </thead>
        <tbody class="kanit" style="color: black">
            {% for line in topcurrentplayers %}
                <tr >
                    <td>{{ line.position }}</td>
                    <td>{{ line.name }}</td>
                    <td>{{ line.team }}</td>
                    <td>{{ line.averagepoints }}</td>
                    <td>{{ line.xG }}</td>
                    <td>{{ line.expected_assists }}</td>
                    <td>{{ line.value }}</td>
                    <td>{{ line.pointspermili }}</td>

            {% endfor %}
</tr>
</tbody>
</table>
</div>

<div class="fadein2" style= "padding: 10px; width: 85%; background: linear-gradient(45deg, #49a09d, #5f2c82); color: black; margin: auto">
    <h1 class="kanit fadein3" style="font-size: 3vw; color: white">Current Top Forwards</h1>
    <table class="table fadein3 tb2" id ="topforwards">
        <thead class="kanit">
            <tr style="color: black">
                <th scope="col" onclick="sortTableL0('tb2', 0)">Name</th>
                <th scope="col" onclick="sortTableL0('tb2', 1)">Team</th>
                <th scope="col" onclick="sortTableN0('tb2', 2)">Average Points</th>
                <th scope="col" onclick="sortTableN0('tb2', 3)">xG Per 90</th>
                <th scope="col" onclick="sortTableN0('tb2', 4)">xA Per 90</th>
                <th scope="col" onclick="sortTableN0('tb2', 5)">Price</th>
                <th scope="col" onclick="sortTableN0('tb2', 6)">Points Per Million</th>
            </tr>
        </thead>
        <tbody class="kanit" style="color: black">
            {% for line in topcurrentforwards %}
                <tr >
                    <td>{{ line.name }}</td>
                    <td>{{ line.team }}</td>
                    <td>{{ line.averagepoints }}</td>
                    <td>{{ line.xG }}</td>
                    <td>{{ line.expected_assists }}</td>
                    <td>{{ line.value }}</td>
                    <td>{{ line.pointspermili }}</td>
                    {% endfor %}
        </tr>
    </tbody>
    </table>
    </div>

<div class="fadein2" style="padding: 10px; width: 85%; background: linear-gradient(45deg, #49a09d, #5f2c82); color: black; margin: auto">
    <h1 class="kanit fadein3" style="font-size: 3vw; color: white">Current Top Midfielders</h1>
    <table class="table fadein3 tb3" id="topmidfielders">
        <thead class="kanit">
            <tr style="color: black">
                <th scope="col" onclick="sortTableL0('tb3', 0)">Name</th>
                <th scope="col" onclick="sortTableL0('tb3', 1)">Team</th>
                <th scope="col" onclick="sortTableN0('tb3', 2)">Average Points</th>
                <th scope="col" onclick="sortTableN0('tb3', 3)">xG Per 90</th>
                <th scope="col" onclick="sortTableN0('tb3', 4)">xA Per 90</th>
                <th scope="col" onclick="sortTableN0('tb3', 5)">Price</th>
                <th scope="col" onclick="sortTableN0('tb3', 6)">Points Per Million</th>
            </tr>
        </thead>
        <tbody class="kanit" style="color: black">
            {% for line in topcurrentmidfielders %}
                <tr >
                    <td>{{ line.name }}</td>
                    <td>{{ line.team }}</td>
                    <td>{{ line.averagepoints }}</td>
                    <td>{{ line.xG }}</td>
                    <td>{{ line.expected_assists }}</td>
                    <td>{{ line.value }}</td>
                    <td>{{ line.pointspermili }}</td>

                    {% endfor %}
        </tr>
    </tbody>
    </table>
    </div>


<div class="fadein2" style="padding: 10px; width: 85%; background: linear-gradient(45deg, #49a09d, #5f2c82); color: black; margin: auto">
    <h1 class="kanit fadein3" style="font-size: 3vw; color: white">Current Top Defenders</h1>
    <table class="table fadein3 tb4" id="topdefenders">
        <thead class="kanit">
            <tr style="color: black">
                <th scope="col" onclick="sortTableL0('tb4', 0)">Name</th>
                <th scope="col" onclick="sortTableL0('tb4', 1)"> Team</th>
                <th scope="col" onclick="sortTableN0('tb4', 2)">Average Points</th>
                <th scope="col" onclick="sortTableN0('tb4', 3)">Average Goals Conceded</th>
                <th scope="col" onclick="sortTableN0('tb4', 4)">Price</th>
                <th scope="col" onclick="sortTableN0('tb4', 5)">Points Per Million</th>
            </tr>
        </thead>
        <tbody class="kanit" style="color: black">
            {% for line in topcurrentdefenders %}
                <tr >
                    <td>{{ line.name }}</td>
                    <td>{{ line.team }}</td>
                    <td>{{ line.averagepoints }}</td>
                    <td>{{ line.goals_conceded }}</td>
                    <td>{{ line.value }}</td>
                    <td>{{ line.pointspermili }}</td>

                    {% endfor %}
        </tr>
    </tbody>
    </table>
    </div>


<div class="fadein2" style="padding: 10px; border-radius: 0px 0px 20px 20px; width: 85%; background: linear-gradient(45deg, #49a09d, #5f2c82); color: black; margin: auto">
    <h1 class="kanit fadein3" style="font-size: 3vw; color: white">Current Top Goalkeepers</h1>
    <table class="table fadein3 tb5" id="topgoalkeepers">
        <thead class="kanit">
            <tr style="color: black">
                <th scope="col" onclick="sortTableL0('tb5', 0)">Name</th>
                <th scope="col" onclick="sortTableL0('tb5', 1)">Team</th>
                <th scope="col" onclick="sortTableN0('tb5', 2)">Average Points</th>
                <th scope="col" onclick="sortTableN0('tb5', 3)">Average Goals Conceded</th>
                <th scope="col" onclick="sortTableN0('tb5', 4)">Price</th>
                <th scope="col" onclick="sortTableN0('tb5', 5)">Points Per Million</th>
            </tr>
        </thead>
        <tbody class="kanit" style="color: black">
            {% for line in topcurrentgoalkeepers %}
                <tr >
                    <td>{{ line.name }}</td>
                    <td>{{ line.team }}</td>
                    <td>{{ line.averagepoints }}</td>
                    <td>{{ line.goals_conceded }}</td>
                    <td>{{ line.value }}</td>
                    <td>{{ line.pointspermili }}</td>

                    {% endfor %}
    </tr>
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
