{% extends "layout.html" %}

{% block title %}
    Result Stats
{% endblock %}

{% block main %}

    <a class="btn btn-primary center" style="display: block; margin: auto; width: 150px;" href="/playerstats" role="button">Search Again</a>
    </div>
    <div style="background: #b9b6f2; color: black">
        <h1 class="center kanit fadein2" style="width: 40%; margin-left: 75px; color: black; background: white; border: solid black">{{ namesql }} - £{{price}}</h1>
        <div class ="container3">
        <table class="table fadein3" style="width: 90%; margin: auto; border: solid; background: white ">
            <thead class="kanit">
                <tr style="color: black">
                    <th scope="col">Gameweek</th>
                    <th scope="col">Minutes Played</th>
                    <th scope="col">Goals Scored</th>
                    <th scope="col">Assists</th>
                    <th scope="col">Yellow Cards</th>
                    <th scope="col">Red Cards</th>
                    <th scope="col">Influence</th>
                    <th scope="col">Points</th>
                    <th scope="col">Opposition</th>
                </tr>
            </thead>
            <tbody class="kanit" style="color: black">
                {% for player in stat %}
                    <tr>
                        <td>{{ player.GW }}</td>
                        <td>{{ player.minutes }}</td>
                        <td>{{ player.goals_scored }}</td>
                        <td>{{ player.assists }}</td>
                        <td>{{ player.yellow_cards }}</td>
                        <td>{{ player.red_cards }}</td>
                        <td>{{ player.influence }}</td>
                        <td>{{ player.total_points }}</td>
                        <td>{{ player.name1 }}</td>

                        <td>
                {% endfor %}
</td>
</tr>
</tbody>
</table>
<div class="fadein3">
    <p style="border: solid black; background: white">{{namesql}}'s best points total was in Gameweek {{ maxpointtotalgw }} accumalating {{ maxpointtotal }} against {{ maxpointtotalopp }}.</p>
    <p style="border: solid black; background: white">{{namesql}}'s best total goals in a game was Gameweek {{ maxgoalsgw }} scoring {{ maxgoals }} against {{ maxgoalopp }}.</p>
    <p style="border: solid black; background: white">{{namesql}}'s current price is £{{ price }}.</p>
    <p style="border: solid black; background: white">{{namesql}}'s current points per million for the season is {% for line in pointspermili %} {{ line.pointspermili }} {% endfor %} PPM.</p>


</div>
</div>
</div>
    {% endblock %}
